{% extends "base.html" %}

{% block titulo %} Listado {% endblock %} <!-- Titulo arribita -->

{% block contenido%} 

<div class = "container mt-5">
        <h1>Mascotas ingresadas</h1>

        <p>Aquí encontrarás a los pacientes que estan siendo atendidos por nuestro equipo.
        cada uno representa el compromiso que tenemos con el bienestar animal y la confianza 
        de sus familias.</p>
</div>

<div class="card">
    <div class="card-header">
        <a
            name=""
            id=""
            class="btn btn-success"
            href="{% url 'crear' %}"
            role="button"
            >Agregar Animal</a
        >


        
    </div>
    <div class="card-body">
        <h4 class="card-title">Lista de pacientes</h4>
        <div
            class="table-responsive">
            <table
                class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Especie</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mascota in mascotas %}
                    <tr class="">
                        <td >{{mascota.id}}</td>
                        <td>{{mascota.nombre}}</td>
                        <td>{{mascota.descripcion}}</td>
                        <td>{{mascota.motivo}}</td>
                        <td>{{mascota.especie}}</td>
                        <td>
                            <a
                                name=""
                                id=""
                                class="btn btn-danger"
                                href="{% url 'eliminar' mascota.id %}"
                                role="button"
                                >Eliminar</a
                            >
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">animales en cuidado</div>
</div>

{% endblock%}